/*
style.css
-------

Par Dimitri Nseng
*/

@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background-image: url("greyzz.png");
}

h1, h2
{
	font-family: 'droid_sansregular', 'Arial', sans-serif;
	text-shadow: 1px 1px 1px black; /* pour créer les ombres*/

}

h1, h1 + p
{
	text-align: center;
}

img
{
	float: right;
	border: 2px solid black;
	box-shadow: 2px 2px 2px black;
}

#experience, #formation, #competence
{
	display: inline-block;
	vertical-align: top;
	margin-right: 2%;
	width:30%;
}

h2
{
	color: rgb(237, 28, 36);
}
#lisere, #contenu
{
	display: inline-block;
	vertical-align: top;
}

#lisere
{
	background-image: url('images/lisseret1.jpg');
	width: 10%;
	height: 1050px;
	margin-right: 3%;
	border-radius: 10px;
}

#contenu
{
	width: 85%;
}

#intro
{
	background: url('images/separateur.png') repeat-x top;
	padding-top: 0.5%;
}

#logo
{
	margin-bottom: 2%;
}

#bot
{
	background: url('images/ico_top.png') no-repeat center, url('images/separateur.png') repeat-x top;
	padding-top: 2.5%;

}

footer
{
	text-align: center;
}